.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.side-menu {
    width: 200px;
}
.chevron_right {
    position: absolute;
    align-items: center;
    right: 0;
}