<div class="grid-container">
    <mat-grid-list cols="2" rowHeight="250px">
        <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card class="dashboard-card">
                <mat-card-content class="dashboard-card-content">
                    <mat-card-header>
                        <mat-card-title>{{card.title}}</mat-card-title>
                    </mat-card-header>
                    <div *ngIf="card.title === '活動記録/検索'">
                        <mat-form-field appearance="fill" class="search-form">
                            <mat-label>活動日を入力</mat-label>
                            <input class="activityDate" [(ngModel)]="activityDate" matInput [matDatepicker]="picker" (ngModelChange)="changeActivityDate($event)">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <div>
                            <button class="search" mat-raised-button color="primary" [disabled]="disableSearchButton" (click)="search()">検索</button>
                            <!--<button class="clear" mat-raised-button color="basic">クリア</button>-->
                        </div>
                    </div>
                    <div *ngIf="card.title === '活動記録/更新'">
                        <mat-form-field appearance="fill" class="activityTime-form">
                            <mat-label>活動時間を入力</mat-label>
                            <input class="activityTime" [(ngModel)]="activityTime" matInput [disabled]="disableField" (ngModelChange)="changeField($event)">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="burnedCalories-form">
                            <mat-label>消費カロリーを入力</mat-label>
                            <input class="burnedCalories" [(ngModel)]="burnedCalories" matInput [disabled]="disableField" (ngModelChange)="changeField($event)">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="ranDistance-form">
                            <mat-label>走行距離を入力</mat-label>
                            <input class="ranDistance" [(ngModel)]="ranDistance" matInput [disabled]="disableField" (ngModelChange)="changeField($event)">
                        </mat-form-field>
                        <div>
                            <button class="update" mat-raised-button color="primary" [disabled]="disableUpdateButton" (click)="update()">更新</button>
                            <!--<button class="delete" mat-raised-button color="warn">削除</button>-->
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>